@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;

<h1>Adoptable Animals</h1>

<ul>
  @foreach(Animal animal in Model)
  {
    <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.AnimalId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new animal", "Create")</p>